.orderContainer {
  padding: 24px;
}

.cardTitle {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.logo-section {
  display: flex;
  align-items: center;
  margin-right: 16px;

  .fa {
    margin-right: 8px;
    font-size: 24px; // Adjust font size for the logo icon
  }
}

h2 {
  font-size: 24px;
  margin: 0;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.formColumn {
  flex: 1;
  min-width: 300px; /* Ensures minimum width for smaller screens */
}

.totalPrice {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 12px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.discount-code,
.order-note {
  display: flex;
  align-items: center;
  gap: 16px;
}


.discount-code .ant-input,
.order-note .ant-input {
  flex: 1;
}

.btn-cart {
  color: #fff;
    background: hsl(155, 100%, 36%);
    box-shadow: 0 2px 0 rgba(13, 199, 215, 0.09);
    font-size: 16px;
    line-height: 1.5;
    height: 40px;
    padding: 7px 15px;
    border-radius: 2px;
    margin-right: 40px;
}

.btn-cart:hover,
.btn-cart:focus {
  background-color: hsl(155, 100%,40%);
  border-color: hsl(155, 100%,40%);
}

.ant-btn {
  margin-top: 8px;
}