.product {
	&--card {
		max-width: 300px;
		transition: all 0.2s ease-in;
		min-height: 250px;
		display: flex;
		gap: 24px;
		flex-direction: column;
		&:hover {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

			.product--img img {
				transform: scale(85%);
			}

			.info {
				display: block;
				opacity: 1;
				transform: translateY(0%);
				top: 50%;
			}
		}
	}

	&--img {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50%;
		width: 100%;
		object-fit: contain;
		position: relative;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			transition: all 0.2s ease-in;
		}

		.info {
			width: 100%;
			top: 100%;
			left: 0;
			position: absolute;
			display: none;
			opacity: 0;
			transform: translateY(100%);
			transition: all 0.3s ease-in-out;
			animation: slide 0.3s ease-in-out;

			.actions {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 24px;
			}
		}
	}

	&--description {
		padding: 8px 16px;
		color: black;
		text-align: left;
		display: flex;
		gap: 12px;
		flex-direction: column;
	}

	&--name {
		font-weight: 500;
		color: black;
		font-size: 16px;
	}

	&--price {
		font-size: 15px;
		color: rgb(177, 20, 20);
		font-weight: 450;

		display: flex;
		flex-direction: column;
		gap: 12px;

		.price {
			text-decoration: line-through;
			color: #b3b3b3;
		}

		.price-sale {
			font-weight: bold;
			font-size: 16px;
		}
	}

	&--type {
		color: #b3b3b3;
		font-weight: 500;
		font-size: 14px;
	}
}

@keyframes slide {
	0% {
		transform: translateY(80%);
		opacity: 0.2;
	}
	25% {
		transform: translateY(70%);
		opacity: 0.4;
	}
	50% {
		transform: translateY(60%);
		opacity: 0.6;
	}
	75% {
		transform: translateY(40%);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
